In [ ]:
INTRODUCTION TO LIST DATATYPES :

In [ ]:
Definition : A list is a collection of items declared in a particular order.
    
Classification : It is classified as mutable datatype.

In [ ]:
 how to define/declare a list datatype :

In [1]:
students = ['naveen','abdul','imran','joseph','keerthi','shaheen','dolly','navya']

In [2]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [3]:
type(students)

list

In [ ]:
----> how to access the above elements in the list

In [ ]:
# In case of accessing abdul name from the above list

In [ ]:
Introduction to indexing : 0,1,2,3,4,5.....

In [4]:
print(students[1])

abdul

In [ ]:
# In case of accessing keerthi from the list

In [5]:
print(students[4])

keerthi

In [ ]:
1. How to add new elements to the list

In [6]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [ ]:
# In case of addition of kumar name to the list

In [7]:
students.append('kumar')

In [8]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [ ]:
# In case of addition of sana name to the list

In [9]:
students.append('sana')

In [10]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# In case of addition of yamini name to the 2nd position in the list

In [12]:
students.insert(2,'yamini')

In [13]:
print(students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
2. How to modify the elements in the list

In [14]:
print(students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# In case of modification of naveen to navya

In [15]:
print(students[0])

naveen

In [16]:
students[0] = 'navya'

In [17]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
3. How to delete the elements from the list

In [18]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# In case of deletion of joseph from the list

In [19]:
del students[4]  ------> PERMANANTLY DELETING THE THINGS

In [20]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [ ]:
# In case of temporary deletion **

In [ ]:
pop =====> It is used to delete the things temporarily -----> it will be a carbon copy of the deleted items and stores in a 
variable assigned to it

pop =====> by default will be deleting the last element of the list

In [21]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [22]:
x = students.pop()

In [23]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [24]:
print(x)

sana