In [ ]:
INTRODUCTION TO TUPLE DATATYPE :

In [ ]:
Definition : An immutable list is called a tuple datatype.
    
Classification : It is classified as an immutable datatype.

In [ ]:
how to define the tuple datatype -----> ()

In [1]:
students = ('nikhil','praveen','raheem','imran','keerthi','farida')

In [2]:
print(students)

('nikhil', 'praveen', 'raheem', 'imran', 'keerthi', 'farida')

In [3]:
type(students)

tuple

In [ ]:
# In case of wanting to change nikhil to naveed

In [4]:
students[0] = 'naveed'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# It's because tuple datatype is an IMMUTABLE datatype ----> fixed

In [5]:
dimensions = (200, 50)

In [6]:
print(dimensions)

(200, 50)

In [ ]:
# In case of wanting to change the dimensions from 200 to 250

In [7]:
dimensions = (250, 50)

In [8]:
print(dimensions)

(250, 50)

In [9]:
print(students)

('nikhil', 'praveen', 'raheem', 'imran', 'keerthi', 'farida')

In [ ]:
# In case of wanting to access praveen in the output.

In [10]:
print(students[1])

praveen

In [ ]:
# In case of wanting to implement a for loop onto the tuple.

In [11]:
for x in students:
    print(x)

nikhil
praveen
raheem
imran
keerthi
farida